@model List<Projeto.Repository.Entities.Cliente>

@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Consulta de Clientes</h5>




@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-row">
                <div class="col">
                    <input name="nome" type="text" class="form-control" placeholder="Informe nome do cliente" value="@TempData["Nome"]" autocomplete="off">
                </div>

                <div class="col">
                    <input  type="submit" value="Pesquisar Clientes" class="btn btn-secondary" placeholder="Informe nome do cliente" autocomplete="off">
                </div>
            </div>

        </div>

    </div>
}

<br />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nome do cliente</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Cpf</td>

                <td>
                    <a href="/Cliente/Edicao?id=@item.IdCliente" class="btn btn-primary btn-sm">Atualizar</a>
                    <a href="/Cliente/Exclusao?id=@item.IdCliente" onclick="return confirm('Deseja realmente excluir este cliente?');"  class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Quantidade de clientes: @Model.Count()</td>
        </tr>
    </tfoot>
</table>

